{
  "openapi": "3.0.1",
  "info": {
    "title": "PDFY Cloud API",
    "description": "Seamless integration with our Powerful PDF and Image generation API.",
    "version": "3.0.0"
  },
  "servers": [
    {
      "url": "https://api.pdfy.cloud"
    }
  ],
  "paths": {
    "/generate": {
      "post": {
        "summary": "Generate PDF or Image",
        "description": "Generates a PDF or Image based on the provided input and mode.",
        "parameters": [
          {
            "name": "x-client-api-key",
            "in": "header",
            "description": "API key for authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateRequest"
              },
              "example": {
                "mode": "image",
                "html_content": "<!DOCTYPE html>\n  <html>\n  <head>\n      <style>\n          .card {\n              background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n              padding: 40px;\n              border-radius: 20px;\n              color: white;\n              text-align: center;\n              font-family: 'Arial', sans-serif;\n              max-width: 500px;\n              margin: 20px auto;\n          }\n          .card h1 {\n              font-size: 2.5rem;\n              margin-bottom: 20px;\n              font-weight: 300;\n          }\n          .card p {\n              font-size: 1.1rem;\n              line-height: 1.6;\n              margin-bottom: 30px;\n              opacity: 0.9;\n          }\n          .btn {\n              background: white;\n              color: #667eea;\n              border: none;\n              padding: 12px 24px;\n              border-radius: 50px;\n              font-weight: 600;\n              cursor: pointer;\n              transition: all 0.3s;\n          }\n          .btn:hover {\n              transform: translateY(-2px);\n              box-shadow: 0 5px 15px rgba(0,0,0,0.2);\n          }\n      </style>\n  </head>\n  <body>\n      <div class=\"card\">\n          <h1>HTML to PDF/PNG Conversion</h1>\n          <p>This HTML will be converted to a beautiful PDF document using our API.</p>\n          <button class=\"btn\">Learn More</button>\n      </div>\n  </body>\n  </html>",
                "paper_size": "A4",
                "landscape": false,
                "generate_url": false,
                "variables": {
                  "title": "HTML to PDF/PNG Conversion",
                  "description": "This HTML will be converted to a beautiful PDF document using our API.",
                  "buttonText": "Learn More"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "GenerateRequest": {
        "type": "object",
        "properties": {
          "mode": {
            "type": "string",
            "enum": [
              "pdf",
              "image"
            ],
            "default": "image"
          },
          "html_content": {
            "type": "string",
            "description": "HTML content to be rendered"
          },
          "css_content": {
            "type": "string",
            "description": "CSS styles for the HTML content (optional if CSS is embedded in html_content or not needed)"
          },
          "url": {
            "type": "string",
            "description": "URL to be converted (alternative to html_content/css_content)"
          },
          "paper_size": {
            "type": "string",
            "default": "A4",
            "enum": [
              "A4",
              "A3",
              "Letter",
              "Legal",
              "Tabloid"
            ],
            "description": "Applicable for 'pdf' mode."
          },
          "landscape": {
            "type": "boolean",
            "default": false,
            "description": "Applicable for 'pdf' mode."
          },
          "generate_url": {
            "type": "boolean",
            "default": false,
            "description": "If true, the response will include a URL to the generated file. If false, the file content might be returned directly or based on other variables (behavior may vary)."
          },
          "variables": {
            "type": "object",
            "description": "An object containing key-value pairs for dynamic data injection into templates. This is typically used if your html_content is a template string (e.g., using Handlebars, Liquid, etc.) and you want to populate it with dynamic values.",
            "additionalProperties": true,
            "example": {
              "name": "John Doe",
              "product_name": "Awesome Gadget",
              "invoice_id": "INV-2024-001",
              "items": [
                { "name": "Item 1", "price": 100 },
                { "name": "Item 2", "price": 150 }
              ]
            }
          }
        },
        "required": []
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "pdf_url": {
            "type": "string",
            "description": "URL to the generated PDF or image file if `generate_url` was true or is the default behavior. The key name might be generic like `file_url` depending on the mode.",
            "example": "https://example.com/generated.pdf"
          },
          "success": {
            "type": "boolean",
            "example": true
          },
          "file_size_bytes": {
            "type": "integer",
            "example": 188321
          },
          "pages": {
            "type": "integer",
            "description": "Number of pages in the generated PDF. May not be applicable for images.",
            "example": 5
          },
          "file_deletion_date": {
            "type": "string",
            "format": "date",
            "description": "Date when the generated file (if stored) will be deleted.",
            "example": "2025-06-05"
          }
        }
      },
      "HtmlToPdfRequest": {
        "type": "object",
        "required": [
          "html_content"
        ],
        "properties": {
          "html_content": {
            "type": "string",
            "example": "<html><body><h1>Hello World</h1><p>This is a test.</p></body></html>"
          },
          "css_content": {
            "type": "string",
            "example": "h1 { color: blue; } p { font-size: 16px; }"
          },
          "paper_size": {
            "type": "string",
            "default": "A4",
            "enum": [
              "A4",
              "A3",
              "Letter",
              "Legal",
              "Tabloid"
            ]
          },
          "landscape": {
            "type": "boolean",
            "default": false
          },
          "displayHeaderFooter": {
            "type": "boolean",
            "default": false
          },
          "printBackground": {
            "type": "boolean",
            "default": true
          },
          "preferCSSPageSize": {
            "type": "boolean",
            "default": true
          },
          "page_size": {
            "type": "integer",
            "description": "This seems like a duplicate or misnamed field, possibly referring to 'pages' or a limit. `paper_size` is standard for PDF dimensions.",
            "default": 20,
            "minimum": 1,
            "maximum": 20,
            "example": 5
          },
          "paperWidth": {
            "type": "integer",
            "example": 800
          },
          "paperHeight": {
            "type": "integer",
            "example": 1200
          }
        }
      },
      "UrlToPdfRequest": {
        "type": "object",
        "required": [
          "url"
        ],
        "properties": {
          "url": {
            "type": "string",
            "example": "https://pdfmunk.com"
          },
          "paper_size": {
            "type": "string",
            "default": "A4",
            "enum": [
              "A4",
              "A3",
              "Letter",
              "Legal",
              "Tabloid"
            ]
          },
          "landscape": {
            "type": "boolean",
            "default": false
          },
          "displayHeaderFooter": {
            "type": "boolean",
            "default": false
          },
          "printBackground": {
            "type": "boolean",
            "default": true
          },
          "preferCSSPageSize": {
            "type": "boolean",
            "default": true
          },
          "page_size": {
            "type": "integer",
            "description": "This seems like a duplicate or misnamed field, possibly referring to 'pages' or a limit. `paper_size` is standard for PDF dimensions.",
            "default": 20,
            "minimum": 1,
            "maximum": 20,
            "example": 5
          },
          "wait_till": {
            "type": "integer",
            "default": 0,
            "example": 0
          },
          "paperWidth": {
            "type": "integer",
            "example": 800
          },
          "paperHeight": {
            "type": "integer",
            "example": 1200
          }
        }
      },
      "HtmlImageRequest": {
        "type": "object",
        "required": [
          "html_content"
        ],
        "properties": {
          "html_content": {
            "type": "string"
          },
          "css_content": {
            "type": "string"
          },
          "width": {
            "type": "integer",
            "default": 1280
          },
          "height": {
            "type": "integer",
            "default": 720
          },
          "device_scale_factor": {
            "type": "number",
            "default": 1
          },
          "quality": {
            "type": "integer",
            "minimum": 30,
            "maximum": 100,
            "default": 80
          },
          "font": {
            "type": "string",
            "description": "Fonts to use, separated by '|'"
          },
          "response_format": {
            "type": "string",
            "default": "url",
            "enum": [
              "url",
              "base64",
              "both",
              "image"
            ]
          }
        }
      },
      "UrlImageRequest": {
        "type": "object",
        "required": [
          "url"
        ],
        "properties": {
          "url": {
            "type": "string",
            "default": "https://pdfmunk.com"
          },
          "width": {
            "type": "integer",
            "default": 1280
          },
          "height": {
            "type": "integer",
            "default": 720
          },
          "device_scale_factor": {
            "type": "number",
            "default": 1
          },
          "quality": {
            "type": "integer",
            "minimum": 30,
            "maximum": 100,
            "default": 80
          },
          "full_page": {
            "type": "boolean",
            "default": false
          },
          "wait_till": {
            "type": "integer",
            "default": 0
          },
          "viewPortWidth": {
            "type": "integer",
            "default": 1280
          },
          "viewPortHeight": {
            "type": "integer",
            "default": 720
          },
          "response_format": {
            "type": "string",
            "default": "url",
            "enum": [
              "url",
              "base64",
              "both",
              "image"
            ]
          }
        }
      }
    }
  }
}